# Telegram Session Configuration
TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_PHONE=+34123456789
TELEGRAM_SESSION_NAME=telegram

# Telegram Listening Configuration
TELEGRAM_LISTENER_MONITOR_CHANNELS=[]
TELEGRAM_LISTENER_IMAGE_CHANNELS=[]
TELEGRAM_LISTENER_TRANSLATION_CHANNELS=[]
TELEGRAM_LISTENER_TRANSLATION_TARGET_LANGUAGE=en
TELEGRAM_LISTENER_TRANSLATION_TIMEOUT=3
TELEGRAM_LISTENER_TRANSLATION_MAX_CONCURRENCY=2
TELEGRAM_LISTENER_QUEUE_MAXSIZE=1000

# Telegram History Configuration
TELEGRAM_HISTORY_CHANNELS=[]
TELEGRAM_HISTORY_IMAGE_CHANNELS=[]
TELEGRAM_HISTORY_TRANSLATION_CHANNELS=[]
TELEGRAM_HISTORY_START=1767225600
TELEGRAM_HISTORY_END=1767312000
TELEGRAM_HISTORY_TRANSLATION_TARGET_LANGUAGE=en
TELEGRAM_HISTORY_TRANSLATION_TIMEOUT=5
TELEGRAM_HISTORY_TRANSLATION_RETRIES=2
TELEGRAM_HISTORY_WAIT_TIME=1
TELEGRAM_HISTORY_SHOW_PROGRESS=False
